.tweet {
  background-color: #84D5FF;
  border-radius: 7px;

  padding: 3px;
  margin: 10px;
}

.tweet_list {
  margin: 20px auto;
  width: 600px;
  padding: 20px 40px 40px 40px;
  border: 1px dotted black;
}

.header-bar {
  padding: 10px;
  text-align: center;
  background-color: #403DE0;
}

.button {
  padding: 10px;

  display: inline-block;

  background-color: #84D5FF;
  border-radius: 10px;
}
